:root {
  font-size: 62.5%;
}

body {
  align-items: center;
  background: hsl(212, 45%, 89%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.qr-component {
  align-items: center;
  border-radius: 5%;
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Outfit', sans-serif;
  justify-content: center;
  max-width: 325px;
  text-align: center;
}

img {
  border-radius: 10%;
  height: auto;
  max-width: 90%;
  padding: 1.5rem;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1.1rem 2rem;

}

p {
  color: hsl(220, 15%, 55%);
  font-size: 1.5rem;
  margin: 0 3rem 4rem 3rem;
}

.attribution {
  color: hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  font-size: 1.1rem; text-align: center;
  padding-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}